.footer {
  padding: 65px 100px;
  height: 310px;
}

.footer-container {
  max-width: 1140px;
  display: flex;
  align-content: center;
}

.footer-logo__link {
  display: flex;
  margin-right: 5px;
}

.footer-logo {
  margin-right: 7px;
  width: 25px;
  height: 25px;
}

span {
  font-weight: 600;
  color: black;
}

.footer-logo__author {
  margin-left: 5px;
}

.footer-header {
  margin-bottom: 7px;
}

.footer-container__left {
  margin-right: 150px;
}

.footer-container__left__logo {
  display: flex;
}

ul {
  list-style: none;
}
