.middle {
  height: 300px;
}

.middle-container {
  max-width: 1140px;
  text-align: center;
}

.middle-bottom {
  background-color: #fafafa;
  height: 300px;
  padding: 20px 100px;
}

.middle-bottom-container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.card {
  width: 30%;
}

.Blockitem {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px;
}

h1 {
  font-size: 48px;
}
