@import "header.css";
@import "middle.css";
@import "footer.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  color: rgb(102, 102, 102);
  cursor: pointer;
  text-decoration: none;
  padding: 0px 10px;
}

div {
  display: block;
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

p {
  font-size: 14px;
}
